<p> Welcome, <%= current_user.username %>. You have <%=@flights.count%>
  <% if @flights.count = 1 %>
  flight
  <% else %>
  flights
  <% end %> scheduled.

<h2> Planned Flights </h2>

<% @flights.each do |flight| %>
  <div>
    <a href="/flights/<%=flight.id%>"><%= flight.origin %> to <%= flight.destination %></a>
  </div>
<% end %>
<br>
<a href="/flights/new">Add</a> a new flight.<br>
<a href="/logout">Log out of Skybucks Rewards.</a>
